/* Add Orbitron Bold Font*/

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/Orbitron-VariableFont_wght.ttf');
    font-family:'Orbitron';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/OpenSans-VariableFont_wdth,wght.ttf');
    font-family:'Open Sans';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
    font-family:'Open Sans';
    font-style: italic;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/Comfortaa-VariableFont_wght.ttf');
    font-family:'Comfortaa';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}

/* Whole Page */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.full{
    /*background-color: #272D33;*/
    background-image: url('https://assets.spacegamedev.com/images/backgrounds/spikeyballart/BlueSpikeyBallRender.png');
    width: 100%;
    height: auto;
}

.central-wrapper{
    border: 2px solid #404040a4;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #272D33;
    width: 28vw; /* 30% or so */
    border-radius: 2vw;
    box-shadow: 5px 5px /* blur -> */ 5px #000000a1;
}

.sgd-logo{
    width: 10vw;
    border-radius: 30%; /* 50px or so */
    border: 3px solid #404040;
    box-shadow: 5px 5px /* blur -> */ 5px #000000a1;
}

.header-text{
    font-family: Orbitron, Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1.8vw;
    color: #f0ffff;
    text-shadow: 5px 5px /* blur -> */ 5px #000000a1;
}

.header-desc{
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1.3vw;
    color: #bfcccc;
    text-shadow: 5px 5px /* blur -> */ 5px #000000a1;
}

.header-desc-2{
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    color: #73dbb3;
    text-shadow: 5px 5px /* blur -> */ 5px #000000a1;
}

.join-button{
    background-color: #479633;
    border-radius: 0.6vw; /* 10px */
    padding: 0.6vw 1.2vw; /* 10px 16px */
    color: #f0ffff;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 2vw; /* about 35px */
    box-shadow: 0.15vw 0.15vw /* blur -> */ #2c611fce; /* 3px 3px */
}

.join-button:hover{
    background-color: #326d23;
    border-radius: 0.6vw;
    padding: 0.6vw 1.2vw;
    color: #c6d1d1;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 2vw;
    box-shadow: 0.15vw 0.15vw /* blur -> */ #1e4115ce;
}

.attrib-text{
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Line breaks */

.br-top-wrapper{
    line-height: 1vw;
}

.br-under-sgd-logo{
    line-height: 2vw;
}

.br-under-header-text{
    line-height: 0.5vw;
}

.br-under-header-desc{
    line-height: 1vw;
}

.br-under-button{
    line-height: 7vw;
}
