/* Just add these to the top of the pages' css file and add the prefix "https://assets.spacegamedev.com/css/" to the source url of the font. */
/* Also add these preconnects for quicker loading:   

<link rel="preconnect" href="https://assets.spacegamedev.com"/>
<link rel="preconnect" href="https://services.spacegamedev.com"/>

*/

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/Orbitron-VariableFont_wght.ttf');
    font-family:'Orbitron';
    font-style: normal;
    font-weight: 1 1000;
}

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/OpenSans-VariableFont_wdth,wght.ttf');
    font-family:'Open Sans';
    font-style: normal;
    font-weight: 1 1000;
}

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf');
    font-family:'Open Sans';
    font-style: italic;
    font-weight: 1 1000;
}

@font-face {
    src: url('https://assets.spacegamedev.com/css/fonts/Comfortaa-VariableFont_wght.ttf');
    font-family:'Comforta';
    font-style: normal;
    font-weight: 1 1000;
}