/* Just add these to the top of the pages' css file and add the prefix "" to the source url of the font. */
/* Also add these preconnects and preloads for quicker loading:   

<link rel="preconnect" href="https://spacegamedev-assets.pages.dev"/>
<link rel="preconnect" href="https://lfs.spacegamedev.com"/>

Asset Preloads:

<link rel="preload" href="fonts/Orbitron-VariableFont_wght.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/OpenSans-VariableFont_wdth,wght.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/Comfortaa-VariableFont_wght.woff2" as="font" crossorigin="anonymous">

*/

@font-face {
    src: url('fonts/Orbitron.woff2');
    font-family:'Orbitron';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('fonts/OpenSans.woff2');
    font-family:'Open Sans';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('fonts/OpenSans-Italic.woff2');
    font-family:'Open Sans';
    font-style: italic;
    font-weight: 1 1000;
    font-display: swap;
}

@font-face {
    src: url('fonts/Comfortaa.woff2');
    font-family:'Comfortaa';
    font-style: normal;
    font-weight: 1 1000;
    font-display: swap;
}