/* Add Orbitron Bold Font*/

@font-face {
    font-family: 'Orbitron';
    font-style: bold;
    font-weight: 700;
    font-display: fallback;
    src: local('Orbitron'), local('Orbitron Bold'), local('Orbitron-Bold'), url(Orbitron-Bold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-display: fallback;
    src: local('Open Sans'), local('Open Sans Bold'), local('Open-Sans-Bold'), url(OpenSans-Bold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Whole Page */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.full{
    /*background-color: #272D33;*/
    background-image: url('https://assets.spacegamedev.com/images/backgrounds/bluespikeyballblurred.png');
    width: 100%;
    height: auto;
}

.content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 1vw;
}