/* Whole Page */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.full{
    /*background-color: #272D33;*/
    background-image: url('https://assets.spacegamedev.com/images/backgrounds/bluespikeyballblurred.png');
    width: 100%;
    height: auto;
}

.content{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 1vw;
}